In [2]:
a = ["banana", "apple", "microsoft"]

In [3]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [4]:
for element in a:
    print(element)

banana
apple
microsoft

In [6]:
b = [20, 10, 5]
total = 0 
for e in b:
    print(e)
    total = total + e
    print(total)

20
20
10
30
5
35

In [9]:
# 1, 2 , 3, 4
c = list(range(1,5))
print(c)

[1, 2, 3, 4]

In [14]:
sum = 0
for i in c:
    print(i)
    sum += i
    print(sum)

1
1
2
3
3
6
4
10

In [18]:
total3 = 0
for i in range(1,8):
    if i % 3 == 0:
        total3 += i
        print(i)
print(total3)

3
6
9

In [19]:
total8 = 0
for E in range(1, 100):
    if E % 3 == 0 or E % 5 == 0:
        total8 += E
        print(E)
print(total8)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
2318