In [1]:
a = [1, 3, 5, 7, 9, 11]

In [ ]:
# [2, 6,10, 14, 18, 22]

In [ ]:
#.append()

In [2]:
b = []
b.append(10)
b.append(20)
print(b)

[10, 20]

In [3]:
c = []
for x in a:
    c.append(x*2)

print(c)

[2, 6, 10, 14, 18, 22]

In [4]:
d = [x * 2 for x in a]
print(d)

[2, 6, 10, 14, 18, 22]

In [5]:
#[1, 4, 9,16, 25, 36]

e1 = []
for x in range(1,7):
    e1.append(x**2)
print(e1)

[1, 4, 9, 16, 25, 36]

In [6]:
e2 = [ x**2 for x in range(1,7) ] 
print(e2)

[1, 4, 9, 16, 25, 36]

In [7]:
# [36, 25, 16, 9, 4, 1]
e3 = []
for x in range(6,0, -1):
    e3.append(x**2)
print(e3)

[36, 25, 16, 9, 4, 1]

In [9]:
e4 = [ x**2 for x in range(6,0,-1) ] 
print(e4)

[36, 25, 16, 9, 4, 1]